
<div class="col-md-4 mt-4 mx-auto">
	<div class="card">
		<div class="card-header">
			<h3>Agrerga datos</h3>
		</div>
		<div class="card-body">
			<form action="/main/newContent/{{table._id}}?_method=PUT" method="POST">
				<input type="hidden" name="_method" value="PUT">
				<div class="form-group">
					<input type="text" name="group" placeholder="Grupo" class="form-control" value="{{table.group}}"></input>
				</div>
				<div class="form-group">
					<input type="text" name="object" placeholder="Objeto" class="form-control" value="{{table.object}}"></input>
				</div>
				<div class="form-group">
					<textarea type="text" name="description" placeholder="Descripcion" class="form-control">{{table.description}}</textarea>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-outline-primary  font-weight-bolder">Agregar</button>
				</div>
			</form>
		</div>
	</div>
</div>