<div class="col-md-4 mt-4 mx-auto">
	<div class="card">
		<div class="card-header">
			<h3>Insertar datos</h3>
		</div>
		<div class="card-body">
			<form action="/menu/tables/newTable" method="POST">
				<div class="form-group">
					<input type="text" name="group" placeholder="Grupo" class="form-control" autofocus="">
				</div>
				<div class="form-group">
					<input type="text" name="object" placeholder="Objeto" class="form-control"></input>
				</div>
				<div class="form-group">
					<input type="text" name="description" placeholder="Descripcion" class="form-control"></input>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-outline-primary  font-weight-bolder">Insertar</button>
				</div>
			</form>
		</div>
	</div>
</div>