

<div class="col-6 mt-4 mx-auto">
	<div class="card">
		<div class="card-header text-center">
			<h2>Selecciona el tipo de Nota</h2>
		</div>
		<div class="container p-5">
			<div class="form-inline justify-content-center mt-4  p-0">
			<div class="card m-3 col-md-5" id="headerNoteDanger">
				<div class="card-body text-center">
					<a class="text-decoration-none text-dark" href="/main/newNoteDanger" title="Nota Danger"><h4>Danger</h4></a>
				</div>				
			</div>
			<div class="card m-3 col-md-5" id="headerNoteWarning">
				<div class="card-body text-center">
					<a class="text-decoration-none text-dark" href="/main/newNoteWarning" title="Nota Warning"><h4>Warning</h4></a>
				</div>
			</div>			
		</div>

		<div class="form-inline justify-content-center ">
			<div class="card  m-3 col-md-5" id="headerNoteSuccess">
				<div class="card-body text-center">
					<a class="text-decoration-none text-dark" href="/main/newNote" title="Nota Success"><h4>Success</h4></a>
				</div>
			</div>
			<div class="card  m-3 col-md-5" id="headerNoteInfo">
				<div class="card-body text-center">
					<a class="text-decoration-none text-dark" href="/main/newNoteInfo" title="Nota Success"><h4>Info</h4></a>
				</div>
			</div>
			
		</div>
		</div>
		
			
		
	</div>
	
</div>