<div class="container mt-4">
	<div class="jumbotron">
	  <h1 class="display-4">Dev Notes</h1>
	  <p class="lead">Aplicacion de Notas para programadores.</p>
	  <hr class="my-4">
	  <p>Aqui podras crear tu agenda de modulos, recordatorios, funciones y todo aquello que necesites registrara acerca de programacion.Tambien podras crear tu recordatodio de Tareas.</p>
	  <a class="btn btn-outline-success btn-lg font-weight-bold" href="/users/signIn" role="button">Ingresar</a>
	  <a class="btn btn-outline-info btn-lg font-weight-bold" href="/users/signUp" role="button">Crear cuenta</a>
	</div>
</div>