#iconLogOut {
	
	font-size: 20px;
}
#cards {
	box-shadow: 2px 2px 2px 2px rgba(0,128,0,0.5);
}
#cardHeader{
	background-color: rgba(0,128,0,0.8);
}
#descriptionRow{
	width: 1200px;
}
#groupRow{
	width: 100px;
}
#objectRow{
	width: 300px;
}
#editRow{
	width: 90px;
}
#deleteRow{
	width: 90px;
}
/*#searchBox{
	z-index: 99;
	position: absolute;
	top: 135px;
	opacity: .80;
	width: 270px;
	
	
}

#searchResults{
	border-radius: 5px 5px 5px 5px ;
	padding: 10px;
}
#inputSearch{
	opacity: .70;

}*/

