#iconLogOut {
	
	font-size: 20px;
}
#cards {
	box-shadow: 2px 2px 2px 2px rgba(0,128,0,0.3);
}
#cardHeader{
	background-color: rgba(0,128,0,0.8);
}
#cardsDanger {
	box-shadow: 2px 2px 2px 2px rgba(255,0,0,0.3);
}
#cardHeaderDanger{
	background-color: rgba(255,0,0,0.8);
}
#cardsWarning {
	box-shadow: 2px 2px 2px 2px rgba(255,165,0,0.3);
}
#cardHeaderWarning{
	background-color: rgba(255,165,0,0.8);
}
#cardsInfo {
	box-shadow: 2px 2px 2px 2px rgba(0,144,255,0.3);
}
#cardHeaderInfo{
	background-color: rgba(0,144,255,0.8);
}
#headerNoteSuccess{
	background-color: rgba(0,128,0,0.8);

}
#headerNoteWarning{
	background-color: rgba(255,165,0,0.8);

}
#headerNoteDanger{
	background-color: rgba(255,0,0,0.8);

}
#headerNoteInfo{
	background-color: rgba(0,144,255,0.8);

}
#descriptionRow{
	width: 1200px;
}
#groupRow{
	width: 100px;
}
#objectRow{
	width: 300px;
}
#editRow{
	width: 90px;
}
#deleteRow{
	width: 90px;
}
/*#searchBox{
	z-index: 99;
	position: absolute;
	top: 135px;
	opacity: .80;
	width: 270px;
	
	
}

#searchResults{
	border-radius: 5px 5px 5px 5px ;
	padding: 10px;
}
#inputSearch{
	opacity: .70;

}*/
#radioDev{
	overflow-y: scroll;
	overflow-x: hidden;
	height: 250px;
}
#containerRadio{
	width: 300px;
}
#radioViewShow{
	z-index: 100;
	position: relative;
}
#radioViewHide{
	z-index: 100;
	position: relative;
}